In [52]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.linear_model import LinearRegression

In [70]:
Factors = pd.read_csv('../Factors/Factors.csv')

In [54]:
dates = Factors['Date'].unique()
def get_factor_returns(factor_name):
    factor_returns = []
    for date in dates:
        data = Factors.loc[Factors["Date"]==date, ["Date", "Index", "Return", factor_name]]
        y = data["Return"]
        x = data[factor_name]
        x = x.values.reshape(-1, 1)
        model = LinearRegression().fit(x, y)
        factor_returns.append(model.coef_[0])
    return factor_returns

In [55]:
factors = ["Momentum_1m", "Momentum_2m", "Momentum_3m", "Turnover_1m", "Turnover_2m", "Turnover_3m", "Volatility_1m", "Volatility_2m", "Volatility_3m", "std_1m", "std_2m", "std_3m", "ROA", "ROE", "EP", "BP"]

In [64]:
def get_factor_returns_all():
    factors_returns = pd.DataFrame()
    factors_returns["Date"] = Factors["Date"].unique()
    for factor in factors:
        factor_returns = pd.Series(get_factor_returns(factor))
        factors_returns[factor] = factor_returns
    return factors_returns

In [65]:
factors_returns = get_factor_returns_all()

In [67]:
factors_returns.to_csv("../Analysis/factors_returns.csv", index=False)

In [68]:
factors_returns

,Date,Momentum_1m,Momentum_2m,Momentum_3m,Turnover_1m,Turnover_2m,Turnover_3m,Volatility_1m,Volatility_2m,Volatility_3m,std_1m,std_2m,std_3m,ROA,ROE,EP,BP
0,2021-01-04,0.000730,0.000767,0.003529,0.006229,0.005741,0.005153,0.006567,0.004948,0.005277,0.000000,-0.002733,-0.005466,-0.002977,-0.002200,-0.002280,0.002142
1,2021-01-05,0.011739,0.007326,0.005376,0.009193,0.008430,0.008445,0.010198,0.009511,0.009100,0.000000,0.000000,-0.010932,-0.006721,-0.006190,-0.005663,-0.000870
2,2021-01-06,0.009934,0.015666,0.012509,-0.006456,-0.006261,-0.005730,-0.002151,-0.000511,0.000663,0.000000,-0.054659,-0.054659,0.002996,0.002175,0.007265,0.006392
3,2021-01-07,0.010739,0.006651,0.007077,0.011101,0.010529,0.009782,0.014891,0.011653,0.012033,0.437269,0.027329,-0.109317,-0.008930,-0.008582,-0.009078,-0.006875
4,2021-01-08,0.010138,0.002623,0.002188,0.006121,0.005620,0.005752,0.008823,0.006025,0.003950,-0.043727,0.005466,0.000000,-0.006560,-0.006155,-0.007739,-0.004801
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
391,2022-07-25,0.003749,-0.000690,0.004282,-0.001460,-0.002077,-0.001811,-0.002838,-0.001132,-0.002093,-0.003644,0.000000,0.000683,0.003562,0.004201,0.004902,0.005894
392,2022-07-26,0.016421,0.009466,0.008515,-0.004906,-0.005749,-0.006661,-0.001258,-0.001520,-0.001545,0.013665,-0.003416,-0.006832,-0.002239,-0.001350,0.000594,0.003238
393,2022-07-27,0.012296,0.010061,0.008945,0.006211,0.007726,0.008152,0.004503,0.003138,0.002482,0.010249,0.010249,0.005124,0.004649,0.004361,0.000468,-0.005460
394,2022-07-28,0.017672,0.010950,0.013907,0.003211,0.003932,0.004300,0.004408,0.000942,0.000358,0.000000,-0.008199,-0.008199,0.006043,0.006202,0.001621,-0.005904
395,2022-07-29,0.009446,0.002969,0.004724,-0.004637,-0.004762,-0.004775,-0.001694,-0.003827,-0.004615,-0.001822,-0.002733,-0.002733,0.005646,0.005180,0.003807,0.001763

In [74]:
Factors[Factors["Date"]=="2021-01-04"].loc[:,["std_1m","std_2m","std_3m"]]

        std_1m    std_2m    std_3m
0       -0.254 -0.542432 -0.309558
396     -0.254 -0.542432 -0.309558
792     -0.254 -0.542432 -0.309558
1188    -0.254 -0.542432 -0.309558
1584    -0.254 -0.542432 -0.309558
...        ...       ...       ...
205128  -0.254 -0.542432 -0.309558
205524  -0.254 -0.542432 -0.309558
205920  -0.254 -0.542432 -0.309558
206316  -0.254 -0.542432 -0.309558
206712  -0.254 -0.542432 -0.309558

[523 rows x 3 columns]

In [75]:
data = pd.read_csv("../Data/data_volatility_raw.csv")

In [77]:
data[data["Date"]=="2021-01-04"].loc[:,["std_1m","std_2m","std_3m"]]

          std_1m  std_2m    std_3m
0       0.023125  0.0214  0.023501
395     0.023125  0.0214  0.023501
791     0.023125  0.0214  0.023501
1187    0.023125  0.0214  0.023501
1583    0.023125  0.0214  0.023501
...          ...     ...       ...
261755  0.023125  0.0214  0.023501
262151  0.023125  0.0214  0.023501
262547  0.023125  0.0214  0.023501
262943  0.023125  0.0214  0.023501
263339  0.023125  0.0214  0.023501

[666 rows x 3 columns]